body{
background-color: black;
font-family: Comic Sans MS;
}
h1{
  font-size: 48px;
  padding: 15px;
  color: white;
  background-color: #CD5C5C;
}
p{
  font-size: 30px;
  text-align: center;
  color: #CD5C5C;
}
h2{
  font-size: 48px;
  color: white;
  text-align: center;
}

#logo{
  width: 1230px;
  height: 285px;
}
#group{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sf{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#wi{
  display:block;
  margin-left: auto;
  margin-right: auto;
}#aow{
  display:block;
  margin-left: auto;
  margin-right: auto;
}#med{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
